/* Establish all fonts */
@font-face {
    font-family: title_font;
    /* src: url(./fonts/Mawoot.ttf); */
    src: url(./fonts/rollback/Rollback\ \(oblique\).ttf);
  }


/* Body details */
.body-details {
    background-color:  rgb(102, 153, 153);
}

/* Section text */
.section-text {
    font-weight: bolder;
}

/* Title text, "Miles to Muppets" */
.title_text {
    text-align: center;
    /* font-family: title_font; */
    font-weight: bold;
    font-size: 400%;
}

/* The text below the title */
.sub_title_text {
    text-align: center;
}

/* input details */
input[type=text] {
    /* background-color: #3CBC8D; */
    background-color: rgb(179, 204, 204);
    /* color: white; */
  }

input[type=text]:focus {
background-color: rgb(224, 235, 235);
}

/* Button details */
.button-details[type=submit] {
    background-color: rgb(50, 78, 78);
}

.button-text {
    /* color: white; */
    color: rgb(208, 225, 225);
}