/* Establish all fonts */
@font-face {
    font-family: title_font;
    /* src: url(./fonts/Mawoot.ttf); */
    src: url(./fonts/rollback/Rollback\ \(oblique\).ttf);
  }


/* Body details */
.body-details {
    background-color:  rgb(102, 153, 153);
}

/* Section text */
.section-text {
    font-weight: bolder;
}

/* Title text, "Miles to Muppets" */
.title_text {
    text-align: center;
    /* font-family: title_font; */
    font-weight: bold;
    font-size: 400%;
}

/* The text below the title */
.sub_title_text {
    text-align: center;
}

/* input details */
.input-box {
    background-color: rgb(179, 204, 204);
  }

.input-box:focus {
background-color: rgb(224, 235, 235);
}

/* Button details */
.button-details {
    background-color: rgb(50, 78, 78);
    color: white;
}

.button-details:hover {
    background-color: rgb(70, 109, 109); 
}

/* Visible divider lines */
/* https://www.w3schools.com/howto/howto_css_dividers.asp */
hr.solid {
    /* margin: 0.25vw; */
    border: 0.1vw solid black;
  }


/* Form container */
.data-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 50px; Adjust as needed */
}
